.detailsContainer {
  display: flex;
  /* flex-direction: column; */
  gap: 72px;
  padding: 84px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.imgFormSection {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 40px; */
}

.imageSection {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 640px;
  width: 100%;
  max-height: 512px;
}

.carImage {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.detailsSection {
  /* width: 50%; */
  flex: 2;
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.tId {
  /* margin-left: 16px; */
  display: block;
  font-size: 16px;
  color: var(--color-grey);
  font-weight: 500;
  line-height: 1.25;
}

.underTitle {
  display: flex;
  gap: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;

  margin-top: 8px;

  & span:first-child {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.price {
  color: var(--color-primary);

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;

  margin-top: 16px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 110px;

  margin-top: 68px;
}

.description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;

  margin-top: 32px;
}

.section {
  margin-top: 16px;
}

.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  & li {
    display: flex;
    align-items: center;
  }

  & li span {
    margin-left: 8px;
    font-weight: 500;
  }
}

.error {
  color: red;
  text-align: center;
}
