.basicBtnStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  border-radius: 12px;

  font-weight: 600;
  line-height: 1.25;

  transition: all var(--transition-style);
}

.filledButton {
  border: none;
  background-color: var(--color-primary);

  color: var(--color-white);
}

.filledButton:hover {
  background-color: var(--color-primary-hover);
}

.borderedButton {
  border: 1px solid var(--color-primary);
  background-color: transparent;

  color: var(--color-black);
}

.borderedButton:hover {
  border: 1px solid var(--color-primary-hover);
}
